.bg {
  &-laptop {
    background-image:
      linear-gradient(rgba(220, 20, 60, 0.2), rgba(70, 130, 180, 0.2)),
      url('/assets/images/backgrounds/laptop.jpg');
    background-repeat: no-repeat;
  }

  &-center {
    background-position: center;
  }

  &-cover {
    background-size: cover;
  }

  &-fixed {
    background-attachment: fixed;
  }
}
