.has-clipped-corner {
  clip-path: polygon(100% 0, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0 100%, 0 0);
}

.is-clipped-square {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 2rem, 2rem 2rem);
  width: 2rem;
  height: 2rem;
}
