<footer class="relative bg-primary px-32 py-48 before:absolute before:left-0 before:top-0 before:block before:h-4 before:w-full before:bg-[linear-gradient(90deg,#ff4800_0,#d054bc_26.56%,#0092f4_54.69%,#0092f4_54.7%,#15c474_100%)] before:content-['']">
  <div class="container">
    <div class="mb-64">
      <app-logo mode="dark" />
    </div>
    <p class="text-gray-300 mb-6">© {{ year() }} Donovan Pardo. All Rights Reserved.</p>
    <p class="text-white">Made in <strong>Colombia</strong>.</p>
  </div>
</footer>
