<section class="px-104 py-144">
  <div class="container text-[22px]">
    <h2 class="leading-tight">Hi, my name's</h2>
    <h1 class="text-[48px] leading-[1.125] font-bold">
      Donovan Pardo.
      <span class="text-[36px]">👋🏼</span>
    </h1>
    <h2 class="leading-normal mt-32 max-w-850">I'm a Front-End Developer, Angular enthusiast, and F1 follower. I've been building software for over 10 years. I've always been fond of working in team-driven environments, applying UX/UI principles, SOLID principles, responsive web design, and user-centered design methodologies.</h2>
    <p class="mt-16">🇨🇴 🇺🇸</p>
  </div>
</section>
