<section class="px-104 py-144">
  <h2 class="text-xl leading-tight">Hi, my name's</h2>
  <h1 class="text-[40px] leading-[1.125] font-extrabold">Donovan Pardo. <span>👋🏼</span></h1>
  <h2 class="text-xl leading-normal mt-32 max-w-850">I'm a Front-End Developer, Angular enthusiast, and F1 follower. I've been building software for over 10 years. I've always been fond of working in team-driven environments, applying UX/UI principles, SOLID principles, responsive web design, and user-centered design methodologies.</h2>
  <p class="text-[24px] mt-16">🇨🇴 🇺🇸</p>
</section>
