<section class="bg-[url('/images/backgrounds/laptop.jpg')] bg-laptop bg-fixed bg-center bg-cover">
  <div class="px-16 py-88 bg-[linear-gradient(rgba(220,20,60,.1),rgba(70,130,180,.1))]">
    <div class="px-32">
      <div class="container">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-[repeat(auto-fit,minmax(240px,1fr))] gap-24">
          @for (network of networks(); track network.name) {
            <a [href]="network.link" target="_blank">
              <app-card>
                <div class="flex flex-col items-start">
                  <figure>
                    <img
                      src="images/networks/{{ network.image }}"
                      alt="{{ network.name }}"
                      width="34"
                      height="34"
                      class="h-34 w-34"
                    />
                  </figure>
                  <hr
                    class="mt-20 h-2 w-40 border-0 bg-[linear-gradient(270deg,#0092f4_-12.86%,#d054ce_105%)]"
                  />
                  <div class="mt-16 text-xl font-bold">{{ network.name }}</div>
                  <div class="mt-12 text-base text-gray-500">{{ network.user }}</div>
                </div>
              </app-card>
            </a>
          }
        </div>
      </div>
    </div>
  </div>
</section>
